.contentImage {
  &__img {
    width: 80%;

    @screen lg {
      width: 40%;
    }
  }
}

.image-full {
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  background-size: cover;
  background-position: center center;

  img {
    object-position: 70% 40% !important;
  }

  &:after {
    content: "";
    background-image: linear-gradient(
      180deg,
      #140e32 0%,
      rgba(196, 196, 196, 0) 59.68%
    );
    // background-image: linear-gradient(
    //   360deg,
    //   rgba(10, 11, 34, 0.51) 5.36%,
    //   rgba(12, 13, 45, 0) 39.48%
    // );
    mix-blend-mode: multiply;
    transform: rotate(-180deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.fullWidthImage {
  height: calc(100vh - 88px);
}
