body {
  @apply m-0 p-0 bg-white text-grey font-sans leading-none;
}

a {
  @apply no-underline;
}

img {
  @apply max-w-full;
}

.tag {
  @apply font-semibold rounded-sm text-sm inline-flex text-blue justify-center items-center p-3 uppercase leading-none mb-4;

  &--dark {
    @apply bg-black-3;
  }

  &--light {
    @apply bg-blue-light;
  }
}

.icon-outline {
  @apply inline-flex justify-center items-center rounded-md border-grey-200 border-1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
  background: linear-gradient(211.46deg, #fafaff 16.68%, #e9f0fa 90.64%);

  div {
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

.gradient-orange {
  @apply bg-gradient-orange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mygrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* purgecss start ignore */

.sub__heading {
  h2 {
    @apply text-black;
  }

  strong {
    @apply text-grey-300;
  }
}

/* purgecss end ignore */
.scrollable-icon {
  @apply text-black bg-white;
}
.scroll-item-active {
  .scrollable-icon {
    transition: 0.4s background-image ease;
    @apply text-cam-white border-0 bg-gradient-orange;
  }
  .scrollable-title {
    transition: 0.4s color ease;
    @apply text-black;
  }
}

.job-buttons {
  @apply sticky;
  top: 110px;

  svg {
    path {
      fill: #fff;
    }
  }
}

.map-content {
  @apply text-cam-white;

  p {
    @apply leading-7;

    &:not(:last-of-type) {
      @apply mb-4;
    }

    strong {
      @apply text-h5;
    }
  }

  a {
    @apply text-cam-white font-normal leading-5;
    background-image: linear-gradient(
      to right,
      #6331a2,
      #8a388b 50%,
      #fff 100%
    );

    background-size: 1000%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.4s cubic-bezier(0, 0, 0.23, 1);

    &:hover {
      background-position: 0%;
      background-size: 340% 100%;
    }
  }
}

.md-content {
  @apply text-cam-white;

  p {
    @apply leading-7;

    &:not(:last-of-type) {
      @apply mb-8;
    }

    strong {
      @apply text-h5;
    }
  }

  ul {
    @apply mb-12 pl-5;
    list-style: disc;

    li {
      @apply text-lg leading-8 text-cam-white font-normal;
      strong {
        @apply text-lg text-black;
      }
      @apply relative mb-2 pl-2;

      &::marker {
        @apply text-cam-white;
      }
    }
  }
}
