html {
  @apply text-base text-cam-white;
}

body {
  font-size: 1rem;
}

body,
button,
input,
select,
textarea {
  @apply text-base;
}

h2,
h3,
h4,
h5,
h6,
.title-1,
.title-2,
.title-3,
a .title-4,
.title-5,
.title-6 {
  @apply font-bold;
  clear: both;
  -webkit-font-smoothing: antialiased !important;
}

h1,
.title-1 {
  // text-shadow: 0px 1px 15px rgb(59 53 66 / 60%);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.2;
  @apply text-h1 mb-24;

  @screen sm {
    @apply leading-h2 mb-34;
  }
  @screen md {
    @apply mb-34;
    letter-spacing: 2.30769px;
  }
}

h2,
.title-2 {
  @apply text-h3 mb-6;

  @screen md {
    @apply text-h2 mb-6 leading-h2;
  }
}

h3,
.title-3,
blockquote {
  @apply text-h3;
}

h4,
.title-4 {
  @apply text-lg;
}

h5,
.title-5 {
  @apply text-h5;
}

h6,
.title-6 {
  @apply text-h6;
}

.description {
  @apply text-h6 leading-8 font-normal;

  &--light {
    @apply text-body;
  }
  &--dark {
    @apply text-body-dark;
  }
}
